@import url('https://fonts.googleapis.com/css?family=Allura|Josefin+Sans');
.thanks-text{
    background-color: #99b3ff;
     font-family: 'Allura', cursive !important;
     font-size: 30px !important;


}