{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style1.css' %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

<div class="contact-section">

  <h1>Contact Me</h1>
  <div class="border"></div>

  <form class="contact-form" action="{% url 'contact' %}" method="post">
    {% csrf_token %}
    <input type="text" name="message-name" class="contact-form-text" placeholder="Your name" style="font-style: italic;">
    <input type="email" name="message-email" class="contact-form-text" placeholder="Your email" style="font-style: italic;">
    <input type="text" name="message-phone" class="contact-form-text" placeholder="Your phone" style="font-style: italic;">
    <textarea name="message" class="contact-form-text" placeholder="Your message" style="font-style: italic;"></textarea>
    <input type="submit" class="contact-form-btn" value="Send">
  </form>

</div>


  </body>
</html>

{% endblock %}